@tailwind base;
@tailwind components;
@tailwind utilities;


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/pattern2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  filter: blur(1.5px);
  z-index: -1;
  pointer-events: none;
}
